torch==2.1.0
torchvision==0.16.0
torchaudio
openai
recbole==1.2.1
ray[tune]
numpy<2.0
pandas==2.3.3
scipy==1.11.3
scikit-learn==1.3.2
tqdm==4.66.1
python-dotenv
transformers==4.34.1
sentence-transformers==2.2.2